<% if !signed_in? %>
  <div id="signin-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="signin-modal-label" aria-hidden="true">
    <%= form_for(:session, url: sessions_path, remote: true, html: { class: "new_session", "data-type" => :json }) do |f| %>
      <div class="modal-header">
        <a class="close" data-dismiss="modal" aria-hidden="true">×</a>
        <h3 id="signin-modal-label" class="modal-label">Sign in</h3>
      </div>
      <div class="modal-body">
        <div id="signin-errors" class="modal-errors"></div>
        <p>First things first. No account? <a href="#signup-modal" role="button" data-dismiss="modal" data-toggle="modal">Sign up!</a></p>
        <%= render 'sessions/fields', f: f %>
      </div>
      <div class="modal-footer">
        <a class="anchor-button-medium anchor-fix concrete rounded1" data-dismiss="modal" aria-hidden="true">Close</a>
        <%= f.submit "Sign in", class: "anchor-button-medium alizarin rounded1", id: "signin-btn" %>
      </div>
    <% end %>
  </div>
<% end %>
