<% if !signed_in? %>
  <div id="signup-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="signup-modal-label" aria-hidden="true">
    <%= form_for(@user, remote: true) do |f| %>
      <div class="modal-header">
        <a class="close" data-dismiss="modal" aria-hidden="true">×</a>
        <h3 id="signup-modal-label" class="modal-label">Sign up</h3>
      </div>
      <div class="modal-body">
        <div id="signup-errors" class="modal-errors"></div>
        <p>Be a newsmaker.</p>
        <%= render 'users/fields', f: f %>
      </div>
      <div class="modal-footer">
        <a class="anchor-button-medium anchor-fix concrete rounded1" data-dismiss="modal" aria-hidden="true">Close</a>
        <%= f.submit "Sign up", class: "anchor-button-medium alizarin rounded1", id: "signup-btn" %>
      </div>
    <% end %>
  </div>
<% end %>
