<div class="btn-group">
  <a href="#signin-modal" role="button" data-toggle="modal" class="anchor-button-small alizarin rounded1">
    <i class="icon-2x icon-circle-arrow-up"></i>
    <%= post.upvote %>
  </a>
  <a class="anchor-button-narrow concrete rounded1" href="#"><i class="icon-comments icon-large"></i></a>
</div>
