<% if signed_in? %>
  <a href="#submit-modal" role="button" data-toggle="modal" class="left anchor-button-medium pomegranate rounded1">
    <i class="icon-2x icon-cloud-upload"></i>
      <span>SUBMIT</span>
  </a>
<% else %>
  <a href="#signin-modal" role="button" data-toggle="modal" class="left anchor-button-medium pomegranate rounded1">
    <i class="icon-2x icon-cloud-upload"></i>
      <span>SUBMIT</span>
  </a>
<% end %>
