<div class="btn-group">
  <a href="#" class="anchor-button-small asbestos rounded1">
    <i class="icon-large icon-ok"></i>
      <%= post.upvote %>
  </a>
  <a class="anchor-button-narrow concrete rounded1" href="#"><i class="icon-comments icon-large"></i></a>
</div>
