@import "bootstrap";

$peterRiver: #3498DB;
$sunFlower: #F1C40F;
$alizarin: #E74C3C;
$concrete: #95A5A6;
$emerald: #2ECC71;
$asbestos: #7F8C8D;
$silver: #BDC3C7;

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll
}

body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 15px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.left {
  float: left;
}

/* typography */


h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


#logo {
  float: left;
  font-size: 1.7em;
  color: $asbestos;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  margin-left: 15px;
  line-height: 1;
  &:hover {
    color: #222;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $grayLight;
  a {
    color: #555;
  }

  a:hover {
    color: #222;
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
    li {
      float: left;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* posts */
.posts {
  margin: 13px 0 0 0;
  list-style: none;

  li {
    overflow: auto;
    padding: 11px 0;
    border-top: 1px solid $grayLighter;
  }

  .post {
    margin-top: 3px;
  }

  .points {
    float: left;
    padding-right: 15px;
    margin-top: 4px;
  }

  .title {
    display: block;
    a {
      font-family: 'Open Sans', sans-serif;
      font-size: 15px;
      color: #000;
      &:hover {
        text-decoration: none;
        color: $grayLight;
      }
    }
  }

  .details {
    font-size: 12px;
    a {
      color: $asbestos;
    }

    span {
      color: $silver;
    }
  }
}

/* forms */

.short-alert {
  color: #FFF;
  padding: 3px;
  font-size: 13px;
  background: $concrete;
}

.short-alert-notice {
  background: $sunFlower;
}

.short-alert-success {
  background: $emerald;
}

.short-alert-error {
  background: $alizarin;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

form {
  margin: 0;
  padding: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* Pagination */
.pagination {
  a, span, em {
    visibility: hidden;
  }
}
