<div class="container">
  <div class="row">
    <div class="span10 offset1">
      <div class="pull-left">
        <%= render 'posts/submit_button' %>
        <%= link_to "newsmakersPH", root_path, id: "logo" %>
      </div>
      <span id="flash-holder">
        <% flash.each do |key, value| %>
          <%= content_tag(:span, value, class: "offset1 short-alert short-alert-#{key}") %>
        <% end %>
      </span>
      <div class="pull-right">
        <div class="btn-group">
          <%= render 'users/user_buttons' %>
        </div>
      </div>
    </div>
  </div>
</div>
